//colors
$black: rgb(13, 12, 12);
$white: rgb(248, 238, 238);
$blue: rgb(69, 69, 250);
$yellow: rgb(204, 255, 0);
$orange: rgb(255, 116, 17);
$red: rgb(215, 29, 29);

//fonts
$fantasy-font: "Avengeance Heroic Avenger";
$normal-font: "Roboto";

